@import '../Mixin';
@import '../colors';

.bg-dot {
    position: absolute;
    width: 500px;
    height: 300px;
    z-index: -99;
    right: 0;
    top: 8vmax;
    background-color: $Soft-Blue;
    border-radius: 150px 0 0 150px;
    @include view-for(medium-plus-to-large){
        height: 220px;
        width: 400px;
        top: 8vmin;
        border-radius: 110px 0 0 110px;
    }
    @include view-for(medium-to-medium-plus){
        height: 50vmin;
        width: 60vmin;
        top: 15vmin;
        border-radius: 25vmin 0 0 25vmin;
    }
    @include view-for(small-to-medium){
        top: 15vmin;
        height: 45vmin;
        width: 65vmin;
        border-radius: 22vmin 0 0 22vmin;
    }
}
.hero-section {
    position: relative;
    margin-top: 2rem;
}        
.hero {
        height: auto;
        @include flex-box(flex-start, flex-start);
        @include view-for(small-to-medium-plus){
            @include flex-box(center, flex-start, column-reverse);
        }
        .hero-desc {
            padding-right: 20px;
            @include flex-box(flex-start, flex-start, column);
            @include view-for(small-to-medium-plus){
                @include flex-box(flex-start, center, column);
                text-align: center;
                margin-top: 1.5rem;
                padding-right: 0;
            }
            h1 {
                font-size: 2.8rem;
                margin-top: 2.8rem;
                font-weight: 600;
                @include view-for(medium-to-large){
                    font-size: 2rem;
                }
                @include view-for(medium-to-medium-plus){
                    margin-top: 4rem;
                }
                @include view-for(small-to-medium){
                    font-size: 2rem;
                    margin-top: 3rem;
                }
            }
            p {
                margin: 25px 0 25px;
                position: relative;
                font-size: 1.1rem;
                @include view-for(medium-plus-to-large){
                    font-size: 15px;
                }
                color: $Grayish-Blue;
            }
            .hero-btn {
                button:first-child {
                    @include mix-button($Soft-Blue, #fff, $Soft-Blue, #fff, $Soft-Blue)
                }
                button:last-child {
                    @include mix-button(#fff, $Very-Dark-Blue, $Very-Dark-Blue, #fff, $Very-Dark-Blue);
                    box-shadow: 0 1px 3px 0px rgba($color: $Grayish-Blue, $alpha: .4);
                    &:hover {
                        box-shadow: none;
                    }
                    margin-left: 8px;
                }
            }
        }
        .hero-image {
            width: 100%;
        }
}